body {
    background-image: url(images/counter.png);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}

.container {
    background-color: rgb(204, 218, 226);
    position: absolute;
    top: 25%;
    left: 60%;
    width: 350px;
    height: 350px;
    border-radius: 4px;
}

.button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
}

#increment-btn {
    background-color: green;
}

#decrement-btn {
    background-color: red;
}

#save-btn {
    background-color: yellow;
}